/* 
    General Styles


*/
.top-container{
    width: 100px;
    height: 100px;
    background-color: beige; 
    margin: 0;
    display: inline-block; 

}

.navbar{
    width: auto;
    height: auto;
    margin: 0 auto;
    display: inline-flex;
    float: left;
}
